<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.va.androidagent"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <!-- permission required to use Alarm Manager -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <!-- permission required to Send SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/smartbutler"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.va.androidagent.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.va.androidagent.FrameAnimationActivity"
            android:label="@string/title_activity_frame_animation" >
        </activity>
        <activity
            android:name="com.va.androidagent.AnimationActivity"
            android:label="@string/title_activity_animation" >
        </activity>
        <activity
            android:name="com.va.androidagent.Functions"
            android:label="@string/title_activity_functions" >
        </activity>
        <activity
            android:name="com.va.androidagent.Chat"
            android:label="@string/title_activity_chat"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.va.androidagent.Home"
            android:label="@string/title_activity_home"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.va.androidagent.Email"
            android:label="@string/title_activity_email" >
        </activity>
        <!--
        <activity
            android:name="com.va.androidagent.Tutorial"
            android:label="@string/title_activity_tutorial" >
        </activity>
        -->
        <activity
            android:name="com.va.androidagent.CalendarViewClass"
            android:label="@string/title_activity_calendar_view" >
        </activity>
        <activity
            android:name="com.va.androidagent.Calendar"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name="com.va.androidagent.Butler"
            android:label="@string/title_activity_butler" >
        </activity>
        <activity
            android:name="com.va.androidagent.Notification"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name="com.va.androidagent.RecordTutorial"
            android:label="@string/title_activity_record_tutorial" >
        </activity>

        <!-- Register the Alarm Receiver -->
        <receiver android:name="com.va.androidagent.SMSReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.va.androidagent.AlarmReceiver" />
        <receiver android:name="com.va.androidagent.Priority2Alarm" />
        <receiver android:name="com.va.androidagent.Priority3Alarm" />
        <receiver android:name="com.va.androidagent.Normal" />
        <receiver android:name="com.va.androidagent.Med1" />
        <receiver android:name="com.va.androidagent.Med2" />
        <receiver android:name="com.va.androidagent.Med3" />

        <activity
            android:name="com.va.androidagent.AboutMe"
            android:label="@string/title_activity_about_me" >
        </activity>
        <activity
            android:name="com.va.androidagent.PlayFunction"
            android:label="@string/title_activity_play_function" >
        </activity>
        <activity
            android:name="com.va.androidagent.Play"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name="com.va.androidagent.Play2"
            android:label="@string/title_activity_play2" >
        </activity>
        <activity
            android:name="com.va.androidagent.Play1"
            android:label="@string/title_activity_play1" >
        </activity>
        <activity
            android:name="com.va.androidagent.Learn1"
            android:label="@string/title_activity_learn1" >
        </activity>
        <activity
            android:name="com.va.androidagent.Level2"
            android:label="@string/title_activity_level2" >
        </activity>
        <activity
            android:name="com.va.androidagent.Social"
            android:label="@string/title_activity_social" >
        </activity>
        <activity
            android:name="com.va.androidagent.Learn"
            android:label="@string/title_activity_learn" >
        </activity>
        <activity
            android:name="com.va.androidagent.SearchEvent"
            android:label="@string/title_activity_search_event" >
        </activity>
    </application>

</manifest>